$animation-duration: 0.3s;
$radius: 8px;
$padding: 8px;
$tint-color: dodgerblue;
$label-font-size: 12px;

.ltv-tooltip {
  position: absolute;
  padding: $padding;
  background: white;
  font-size: $label-font-size;
  stroke-width: 2;
  border-radius: $radius;
  border: solid 1px $tint-color;
  pointer-events: none;
  line-height: 1.4;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px 0;
  z-index: 99;
  opacity: 0;
}

.ltv-tooltip-show {
  animation: fadeIn ease $animation-duration;
  -webkit-animation: fadeIn ease $animation-duration;
  -moz-animation: fadeIn ease $animation-duration;
  -o-animation: fadeIn ease $animation-duration;
  -ms-animation: fadeIn ease $animation-duration;
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
